
-------------------------------------------------------------------
 * Hostname: {{ ansible_fqdn }}
 * OS:       {{ ansible_distribution }} {{ ansible_distribution_version }}
 * Kernel:   {{ ansible_kernel }}
 * Ext. I/F: {{ ansible_default_ipv4.ipv4.address }}
 * Int. I/F: Not assigned
-------------------------------------------------------------------

