#!/bin/sh
# $Id: make-vmailbox.SH,v 1.12.2.1 2011/03/19 09:41:17 ak Exp $
export LANG=C
export PATH="/bin:/usr/bin:/usr/local/bin:/sbin:/usr/sbin:/usr/local/sbin"
VIRTMAILUSER="{{ sendmail.user.mda.username }}"
VIRTMAILHOME="{{ sendmail.user.mda.home }}"
NEWMAILADDRS="$@"

if [ -n "$NEWMAILADDRS" ]; then
    test -d $VIRTMAILHOME || \
        ( mkdir -pm 0755 $VIRTMAILHOME && chown $VIRTMAILUSER:$VIRTMAILUSER $VIRTMAILHOME )

    for E in $NEWMAILADDRS; do
        lpart="`echo $E | cut -d@ -f1`"
        dpart="`echo $E | cut -d@ -f2`"

        if [ -n "$lpart" -a -n "$dpart" ]; then
            if [ ! -d "$VIRTMAILHOME/$dpart/$lpart/Maildir" ]; then
                su - $VIRTMAILUSER -c "mkdir -pm 0700 $VIRTMAILHOME/$dpart/$lpart/Maildir/cur"
                su - $VIRTMAILUSER -c "mkdir -pm 0700 $VIRTMAILHOME/$dpart/$lpart/Maildir/new"
                su - $VIRTMAILUSER -c "mkdir -pm 0700 $VIRTMAILHOME/$dpart/$lpart/Maildir/tmp"
                echo "$E => $VIRTMAILHOME/$dpart/$lpart/Maildir"
            fi
        else
            echo "'$E' does not seem to email address"
        fi
    done
else
    echo "Usage: "
    echo " $0 email1 [ email2 [ email3 [...] ] ]"
    echo
    echo "Example: $0 hoge@example.jp fuga@example.org"
    exit 1;
fi
