#
# Virtual Hosts
#
# If you want to maintain multiple domains/hostnames on your
# machine you can setup VirtualHost containers for them. Most configurations
# use only name-based virtual hosts so the server doesn't need to worry about
# IP addresses. This is indicated by the asterisks in the directives below.
#
# Please see the documentation at 
# <URL:http://httpd.apache.org/docs/2.2/vhosts/>
# for further details before you try to setup virtual hosts.
#
# You may use the command line option '-S' to verify your virtual host
# configuration.

#
# Use name-based virtual hosting.
#
# NameVirtualHost *:80

#<VirtualHost *:80>
#    ServerAdmin     {{ apache.conf.serveradmin }}
#    DocumentRoot    {{ apache.conf.vhostroot }}/{{ apache.conf.servername }}/html
#    ServerName      {{ apache.conf.servername }}
#    ServerAlias     
#    CustomLog       "{{ apache.conf.vhostroot }}/{{ apache.conf.servername }}/logs/access_log" combinedio
#    ErrorLog        "{{ apache.conf.vhostroot }}/{{ apache.conf.servername }}/logs/error_log"
    
#    <Directory {{ apache.conf.vhostroot }}/{{ apache.conf.servername }}/html>
#        AllowOverride All
#        Options FollowSymLinks
#        AddHandler php5-script .php
#        AddType application/x-httpd-php .php
#        DirectoryIndex index.php index.html
#        Order Deny,Allow
#        Deny from all
#        Allow from 127.0.0.1
#    </Directory>
#</VirtualHost>

