# $Id: mailertable,v 1.1 2010/02/02 03:41:35 ak Exp $
# mailertable for sendmail-virtualmailbox
#                  _ _           _        _     _      
#  _ __ ___   __ _(_) | ___ _ __| |_ __ _| |__ | | ___ 
# | '_ ` _ \ / _` | | |/ _ \ '__| __/ _` | '_ \| |/ _ \
# | | | | | | (_| | | |  __/ |  | || (_| | |_) | |  __/
# |_| |_| |_|\__,_|_|_|\___|_|   \__\__,_|_.__/|_|\___|
# ---------------------------------------------------------------------------
# other.example.jp	relay:[relay.example.org]
# .example.edu		smtp:[mx.example.edu]
# my.example.jp		relay:[192.0.2.9]
# +spam.example.org	error:550 NO SPAM
#
