# $Id: procmailrc.in,v 1.1 2010/02/02 03:41:35 ak Exp $
#
# procmailrc for local user's Maildir
#
PATH='/usr/local/bin:/usr/bin:/bin'
LOGFILE='/var/log/procmail-local.log'
MAILDIR="$HOME/Maildir/"
DEFAULT="$MAILDIR"
