# $Id: sid-peer-hosts.in,v 1.1 2010/02/02 03:41:35 ak Exp $
# peerlist(list of hosts to ignore) for sid-milter
#                            _               _       
#  _ __   ___  ___ _ __     | |__   ___  ___| |_ ___ 
# | '_ \ / _ \/ _ \ '__|____| '_ \ / _ \/ __| __/ __|
# | |_) |  __/  __/ | |_____| | | | (_) \__ \ |_\__ \
# | .__/ \___|\___|_|       |_| |_|\___/|___/\__|___/
# |_|                                                
#
127.0.0.1
