# $Id: access,v 1.1 2010/02/02 03:41:35 ak Exp $
# access for sendmail-virtualmailbox
#   __ _  ___ ___ ___  ___ ___ 
#  / _` |/ __/ __/ _ \/ __/ __|
# | (_| | (_| (_|  __/\__ \__ \
#  \__,_|\___\___\___||___/___/
# ---------------------------------------------------------------------------
#
Connect:127.0.0.1	RELAY
