# $Id: access,v 1.1 2010/02/02 03:41:35 ak Exp $
# authinfo for sendmail-virtualmailbox
#              _   _     _        __       
#   __ _ _   _| |_| |__ (_)_ __  / _| ___  
#  / _` | | | | __| '_ \| | '_ \| |_ / _ \ 
# | (_| | |_| | |_| | | | | | | |  _| (_) |
#  \__,_|\__,_|\__|_| |_|_|_| |_|_|  \___/ 
#                                          
# ---------------------------------------------------------------------------
#
#AuthInfo:smtp.example.net "U:username" "P:password" "M:PLAIN"
