# $Id: sid-pass-domains.in,v 1.1 2010/02/02 03:41:35 ak Exp $
# domains to always pass for sid-milter
#                                _                       _           
#  _ __   __ _ ___ ___        __| | ___  _ __ ___   __ _(_)_ __  ___ 
# | '_ \ / _` / __/ __|_____ / _` |/ _ \| '_ ` _ \ / _` | | '_ \/ __|
# | |_) | (_| \__ \__ \_____| (_| | (_) | | | | | | (_| | | | | \__ \
# | .__/ \__,_|___/___/      \__,_|\___/|_| |_| |_|\__,_|_|_| |_|___/
# |_|                                                                
#

